################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mefistofeles/v15
/MefistoDB/MefistoDB.dbmdl
/MefistoDB/MefistoDB.jfm
